src/main/mule/payment-validator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="payment-validator-flow" doc:id="34d7db3e-2b89-400f-a027-d6f554080b21" >
		<scheduler doc:name="Every Day" doc:id="8ea7e93d-cd59-441d-9758-a545e1a181c9" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="INFO : START" doc:id="a926dacb-82df-43c3-88dd-e0009e512453" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    appName: app.name,&#10;    flowName : flow.name,&#10;    position: "Flow Start",&#10;    message: "Payments for the day are being validated",&#10;    correlationId: correlationId&#10;}]'/>
		<ee:transform doc:name="JSON data">
			<ee:message>
				<ee:set-payload resource="dwl/mock-payment.dwl" />
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="282e6b82-ee11-4f22-8af1-c9dfd333a1fd" collection="#[payload]">
			<ee:transform doc:name="Validate Payment">
			<ee:message>
				<ee:set-payload resource="dwl/validate-payment.dwl" />
			</ee:message>
		</ee:transform>
		</foreach>
		<logger level="INFO" doc:name="INFO : Results" doc:id="7847249e-6429-4b1d-b5c1-14502181eb10" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"validationResults": payload&#10;}]'/>
		<logger level="INFO" doc:name="INFO : END" doc:id="2503b35a-5c69-4a12-89c3-1e1de48ef1d0" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    appName: app.name,&#10;    flowName : flow.name,&#10;    position: "Flow End",&#10;    message: "Payments for the day Validated Successfully",&#10;    correlationId: correlationId&#10;}]'/>
	</flow>
</mule>
